# Description of Swedish mortality data

In this notebook we will look at different ways of summarizing data on daily counts of deaths in Sweden. The data comes from [Statistics Sweden](https://www.scb.se/hitta-statistik/corona/corona-i-statistiken/#Statistik).

Start by loading the dataset and printing the first few lines.

In [6]:
data <- readRDS("mortality_data_from_SCB.rds")
head(data)

  year day_month  date       count sex  agegr
1 2021 31 januari 2021-01-31 277   both all
2 2021 30 januari 2021-01-30 273   both all
3 2021 29 januari 2021-01-29 291   both all
4 2021 28 januari 2021-01-28 285   both all
5 2021 27 januari 2021-01-27 290   both all
6 2021 26 januari 2021-01-26 288   both all

The dataset contains the daily counts of number of persons who have died in Sweden from 2015-01-01 to 2021-01-31. Perhaps we could look at the average number of deaths per day and per year.

In [12]:
require(dplyr)
data %>% filter(sex=="both" & agegr=="all") %>% mutate(year=format(date,"%Y")) %>% group_by(year) %>%summarize(mean_p_day=mean(count),mean_p_year=sum(count))

`summarise()` ungrouping output (override with `.groups` argument)

  year mean_p_day mean_p_year
1 2015 246.4301   89947
2 2016 243.2213   89019
3 2017 245.8685   89742
4 2018 245.6767   89672
5 2019 236.0274   86150
6 2020 260.8224   95461
7 2021 315.3548    9776

We might want to break it down by sex.

In [15]:
data %>% filter(sex!="both" & agegr=="all") %>% mutate(year=format(date,"%Y")) %>% group_by(sex,year) %>%summarize(mean_p_day=mean(count),mean_p_year=sum(count))

`summarise()` regrouping output by 'sex' (override with `.groups` argument)

   sex   year mean_p_day mean_p_year
1  men   2015 119.9863   43795
2  men   2016 117.6803   43071
3  men   2017 118.7507   43344
4  men   2018 119.6466   43671
5  men   2019 115.7260   42240
6  men   2020 129.8525   47526
7  men   2021 157.6452    4887
8  women 2015 126.4438   46152
9  women 2016 125.5410   45948
10 women 2017 127.1178   46398
11 women 2018 126.0301   46001
12 women 2019 120.3014   43910
13 women 2020 130.9699   47935
14 women 2021 157.7097    4889

Such annual summaries are very common and useful, but they hide some aspects of the data. Let's look at average number of deaths per month.

In [18]:
data %>% filter(sex=="both" & agegr=="all" & date<"2021-01-01") %>% mutate(month=format(date,"%m")) %>% group_by(month) %>%summarize(death_p_month=sum(count))

`summarise()` ungrouping output (override with `.groups` argument)

   month death_p_month
1  01    51167
2  02    46424
3  03    49855
4  04    47843
5  05    44091
6  06    40157
7  07    41732
8  08    40950
9  09    40473
10 10    43593
11 11    44065
12 12    49641

Which months do more people die in these data? How big are the differences?